*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body {
    background-color: #f0f4f8;
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    background-color: #38a169; /* Green theme */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2rem;
    color: #2f855a; /* Darker green */
}

video, audio, iframe {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #38a169;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}

